body {
    background-color: cyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
section {
    text-align: center;
}

h2 {
    color: cornflowerblue;
}

table {
    background-color: darkblue;
}

thead {
    background-color: cornflowerblue;
}

th,
td {
    padding: 10px;
}

code {
    background-color: black;
    color: lawngreen;
}

